.synth {
  border: 1px solid black;
  margin: 20px;
}

.synth-visualizer {
  position: relative;
  height: 200px;
  width: 100%;
  border: 1px solid black;
  background-size: 1 100%;
}

.synth-visualizer-playhead {
  position: absolute;
  left: 20;
  top: 0;
  height: 100%;
  border-left: 3px dashed #DDFFDD;
  content: "";
  width: 0px;
  display: block;
}
