.row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: var(--border-default);
}

.param-label {}
.param-output {}

.slider {
  margin: 5px;
  width: 100px;
  height: 20px;
}

.connector {
  border: var(--border-default);
  width: 16px;
  height: 16px;
  position: absolute;
}

.connector-inlet {
  left: -18px;
  top: 7px;
}
