.address-input {
  display: block;
  height: 25px;
  font-size: 1em;
  margin: 0;
  padding: 0;
  background-color: var(--color-black-light);
  border: none;
  border-bottom: var(--border-default);
  outline: none;
  color: var(--border-default);
  text-align: center;
  font-size: 1.2em;
  max-width: 104px;
}
.address-input:focus {
  outline: none;
}
