
.container {
  border: 1px solid green;
}

.address-input {
  height: 25px;
  font-size: 1em;
  margin: 0 2px;
  /* width: 36px; */
  background-color: var(--color-black-light);
  border: none;
  border-bottom: var(--border-default);
  outline: none;
  color: var(--border-default);
}
.address-input:focus {
  outline: none;
}

.address-invalid {
  border: 1px solid red;
}
