:host {
  --color-black: #000;
  --color-black-light: #242424;
  --color-grey-dark: #666;
  --color-grey: #999;
  --color-grey-light: #CCC;
  --color-white: #FFF;
  --color-accent: #7799DD;
  --border-default: 1px solid var(--color-grey);
  --border-radius: 4px;

  display: block;
  max-width: 1020px;
  margin: 16px auto;
  padding: 16px;
  font-family: Hack, monospace;
}
