.sampler {
  border: 1px solid white;
}

.sampler-label {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid white;
}

.slider {
  margin: 5px;
  width: 100px;
  height: 20px;
}

.position-inlet {
  border: var(--border-default);
  width: 16px;
  height: 16px;
  position: absolute;
  left: -18px;
  top: 42px;
}
