<canvas class="canvas" id="canvas"></canvas>

<div class="row">
  <p>Type</p>
  <combo-box id="filterTypeComboBox" change="onFilterTypeChange">
    <option value="lowpass">lowpass</option>
    <option value="highpass">highpass</option>
    <option value="bandpass">bandpass</option>
  </combo-box>
</div>

<div class="row">
  <p class="param-label">Cutoff</p>
  <slider-horizontal
    id="cutoffSlider"
    onchange="onCutoffUpdate"
    class="slider">
  </slider-horizontal>
  <p id="cutoffOutput" class="param-output"></p>
</div>

<div class="row">
  <p class="param-label">Resonance</p>
  <slider-horizontal
    id="resonanceSlider"
    onchange="onResonanceUpdate"
    class="slider">
  </slider-horizontal>
  <p id="resonanceOutput" class="param-output"></p>
</div>
