button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: var(--border-default);
  border-radius: var(--border-radius);
  color: var(--color-grey-light);
  cursor: pointer;
  outline: none;
  padding: 4px;
  text-align: center;
  user-select: none;
  width: 100%;
}
