<toggle-button
  id="toggleButton"
  class="toggle-button"
  click="onToggleClick"
  onlabel="Turn Leap Off"
  offlabel="Turn Leap On"
  ison="false">
</toggle-button>

<div id="paramContainer" class="param-container">
  <div class="param-row">
    <p class="param-label">Event address</p>
    <text-input
      value="event-address"
      class="param-input"
      change="handleEventAddressChange">
    </text-input>
  </div>

  <div class="param-row">
    <p class="param-label">Distance Address</p>
    <text-input
      value="distance-address"
      class="param-input"
      change="handleDistanceAddressChange">
    </text-input>
  </div>

  <div class="param-row">
    <p class="param-label">x Address</p>
    <text-input
      value="x-address"
      class="param-input"
      change="handleXAddressChange">
    </text-input>
  </div>

  <div class="param-row">
    <p class="param-label">y Address</p>
    <text-input
      value="y-address"
      class="param-input"
      change="handleYAddressChange">
    </text-input>
  </div>
</div>
