<p>leap controller</p>

<toggle-button
  id="toggleButton"
  class="toggle-button"
  click="onToggleClick"
  onlabel="Turn Leap Off"
  offlabel="Turn Leap On"
  ison="false">
</toggle-button>

<p>Event address</p>
<text-input
  value="event-address"
  change="handleEventAddressChange">
</text-input>

<p>Distance Address</p>
<text-input
  value="distance-address"
  change="handleDistanceAddressChange">
</text-input>

<p>x Address</p>
<text-input
  value="x-address"
  change="handleXAddressChange">
</text-input>

<p>y Address</p>
<text-input
  value="y-address"
  change="handleYAddressChange">
</text-input>
