
<div class="param-row">
  <p class="param-label">Attack</p>
  <slider-horizontal
    id="attackSlider"
    onchange="onAttackUpdate"
    class="slider">
  </slider-horizontal>
  <p id="attackOutput" class="param-output"></p>
</div>

<div class="param-row">
  <p class="param-label">Decay</p>
  <slider-horizontal
    id="decaySlider"
    onchange="onDecayUpdate"
    class="slider">
  </slider-horizontal>
  <p id="decayOutput" class="param-output"></p>
</div>

<div class="param-row">
  <p class="param-label">Wet</p>
  <slider-horizontal
    id="wetSlider"
    onchange="onWetUpdate"
    class="slider">
  </slider-horizontal>
  <p id="wetOutput" class="param-output"></p>
</div>
