<router-outlet route="/">
  <p onclicktoroute="/sound">
    Sound
  </p>
  <p onclicktoroute="/graphics">
    Graphics
  </p>
</router-outlet>

<router-outlet route="/sound">
  <metronome-ctrl></metronome-ctrl>
  <scale-selector></scale-selector>
  <!-- <poly-rythm channel="hello"></poly-rythm> -->
  <div class="row">
    <poly-box></poly-box>
    <graphics-controler></graphics-controler>
  </div>
  <!-- <markov-box></markov-box> -->
  <sequence-driver></sequence-driver>
  <osc-synth></osc-synth>
  <midi-manager></midi-manager>
</router-outlet>

<router-outlet route="/graphics">
  <graphics-root></graphics-root>
</router-outlet>
