<router-outlet route="/">
  <div class="main-container">
    <h1 class="title">
      <span class="title-italic">Phase</span><span>Script</span>
    </h1>
    <p class="text-block">
      PhaseScript is a tool for live coding audio (and soon graphics).
    </p>
    <p class="text-block">
      <a href="/#/sound">Use the editor</a>
    </p>
    <p class="text-block">
      <a href="/#/">Getting started guide</a>
    </p>
    <p class="text-block">
      <a href="/documentation.html">Read the documentation</a>
    </p>
    <p class="text-block">
      <a href="https://github.com/0la0/midi-components">View the source</a>
    </p>
  </div>
</router-outlet>

<router-outlet route="/sound">
  <sound-root></sound-root>
</router-outlet>

<router-outlet route="/graphics">
  <graphics-root></graphics-root>
</router-outlet>
