
<div class="poly-box">
  <poly-rythm address="TR-09" channel="BASS" time="midi"></poly-rythm>
  <poly-rythm address="TR-09" channel="SNARE" time="midi"></poly-rythm>
  <poly-rythm address="TR-09" channel="LOW_TOM" time="midi"></poly-rythm>
  <poly-rythm address="TR-09" channel="MID_TOM" time="midi"></poly-rythm>
  <poly-rythm address="TR-09" channel="HIGH_TOM" time="midi"></poly-rythm>
  <poly-rythm address="TR-09" channel="RIM" time="midi"></poly-rythm>
  <poly-rythm address="TR-09" channel="CLAP" time="midi"></poly-rythm>
  <poly-rythm address="TR-09" channel="HAT" time="midi"></poly-rythm>
  <poly-rythm address="TR-09" channel="CRASH" time="midi"></poly-rythm>
  <poly-rythm address="TR-09" channel="RIDE" time="midi"></poly-rythm>
  <poly-rythm address="SAMPLER" channel="pop" time="audio"></poly-rythm>
  <poly-rythm address="SAMPLER" channel="click" time="audio"></poly-rythm>
  <poly-rythm address="SAMPLER" channel="tom_pop" time="audio"></poly-rythm>
</div>
