<div class="event-network">
  <svg
    id="svgContainer"
    class="svg-container"
    viewBox="0 0 100 100"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1">
    <defs>
      <marker
        id='arrow'
        orient='auto'
        markerWidth='2'
        markerHeight='4'
        refX='0'
        refY='1.5'>
        <path d='M0,0 V3 L1.5,1.5 Z' class="line-arrow" />
      </marker>
    </defs>
    <g id="edgeGroup"></g>
    <g id="nodeGroup"></g>
  </svg>
  <canvas-menu id="containerMenu"></canvas-menu>
  <text-button
    class="remove-button"
    click="onRemove"
    label="Remove">
  </text-button>
</div>
