<div class="container">

  <div class="row">
    <p class="param-label">H g</p>
    <slider-horizontal
      id="hiSlider"
      onchange="onHiUpdate"
      class="slider">
    </slider-horizontal>
    <p id="hiOutput" class="param-output"></p>
  </div>

  <div class="row">
    <p class="param-label">H f</p>
    <slider-horizontal
      id="hiFreqSlider"
      onchange="onHiFreqUpdate"
      class="slider">
    </slider-horizontal>
    <p id="hiFreqOutput" class="param-output"></p>
  </div>

  <div class="row">
    <p class="param-label">M g</p>
    <slider-horizontal
      id="midSlider"
      onchange="onMidUpdate"
      class="slider">
    </slider-horizontal>
    <p id="midOutput" class="param-output"></p>
  </div>

  <div class="row">
    <p class="param-label">M f</p>
    <slider-horizontal
      id="midFreqSlider"
      onchange="onMidFreqUpdate"
      class="slider">
    </slider-horizontal>
    <p id="midFreqOutput" class="param-output"></p>
  </div>

  <div class="row">
    <p class="param-label">M Q</p>
    <slider-horizontal
      id="midQSlider"
      onchange="onMidQUpdate"
      class="slider">
    </slider-horizontal>
    <p id="midQOutput" class="param-output"></p>
  </div>

  <div class="row">
    <p class="param-label">L g</p>
    <slider-horizontal
      id="loSlider"
      onchange="onLoUpdate"
      class="slider">
    </slider-horizontal>
    <p id="loOutput" class="param-output"></p>
  </div>

  <div class="row">
    <p class="param-label">L f</p>
    <slider-horizontal
      id="loFreqSlider"
      onchange="onLoFreqUpdate"
      class="slider">
    </slider-horizontal>
    <p id="loFreqOutput" class="param-output"></p>
  </div>

</div>
