
<div class="row">
  <p class="param-label">Fdbk</p>
  <slider-horizontal
    id="feedbackSlider"
    onchange="onFeedbackUpdate"
    class="slider">
  </slider-horizontal>
  <p id="feedbackOutput" class="param-output"></p>
</div>

<div class="row">
  <p class="param-label">Freq</p>
  <slider-horizontal
    id="freqSlider"
    onchange="onFreqUpdate"
    class="slider">
  </slider-horizontal>
  <p id="freqOutput" class="param-output"></p>
</div>

<div class="row">
  <p class="param-label">Depth</p>
  <slider-horizontal
    id="depthSlider"
    onchange="onDepthUpdate"
    class="slider">
  </slider-horizontal>
  <p id="depthOutput" class="param-output"></p>
</div>
