
<div id="container" class="container">
  <svg
    id="svgContainer"
    class="svg-container"
    viewBox="0 0 100 100"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1" />
  <flat-button
    class="remove-button"
    click="onRemove"
    offtext="Remove">
  </flat-button>
  <div class="add-button">
    <flat-button
      click="addPatchElement"
      offtext="Add Synth"
      node-type="osc">
    </flat-button>
    <flat-button
      click="addPatchElement"
      offtext="Add Sampler"
      node-type="sampler">
    </flat-button>
    <flat-button
      click="addPatchElement"
      offtext="Add Address"
      node-type="address">
    </flat-button>
    <flat-button
      click="addPatchElement"
      offtext="Add DAC"
      node-type="dac">
    </flat-button>
    <flat-button
      click="addPatchElement"
      offtext="Add Equalizer"
      node-type="eq">
    </flat-button>
    <flat-button
      click="addPatchElement"
      offtext="Add Chorus"
      node-type="chorus">
    </flat-button>
  </div>
</div>
