
<div id="container" class="container">
  <svg
    id="svgContainer"
    class="svg-container"
    viewBox="0 0 100 100"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1" />
  <flat-button
    class="remove-button"
    click="onRemove"
    offtext="Remove">
  </flat-button>
  <div class="add-button">
    <flat-button
      click="handleAddSynth"
      offtext="Add Synth">
    </flat-button>
    <flat-button
      click="handleAddSampler"
      offtext="Add Sampler">
    </flat-button>
    <flat-button
      click="handleAddEventAddress"
      offtext="Add Address">
    </flat-button>
    <flat-button
      click="handleAddDac"
      offtext="Add DAC">
    </flat-button>
    <flat-button
      click="handleAddEqualizer"
      offtext="Add Equalizer">
    </flat-button>
  </div>
</div>
