<div class="trigger-box">

  <p>Trigger</p>
  <div id="visualizer" class="visualizer"></div>

  <p class="label">Frequency:</p>
  <combo-box id="combo-box" change="setFrequency">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4" selected>4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
  </combo-box>

  <p class="label">Base:</p>
  <combo-box id="combo-box" change="setBase">
    <option value="0" selected>0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
  </combo-box>

  <div class="row">
    <p class="base-note-label">Send to:</p>
    <combo-box id="sendComboBox" change="onSendChange" />
  </div>

  <flat-button
    click="onRemove"
    offtext="remove">
  </flat-button>

</div>
