.trigger-box {
  border: var(--border-default);
  border-radius: var(--border-radius);
  margin: 5px;
}

.visualizer {
  border: var(--border-default);
  border-radius: var(--border-radius);
  background-color: var(--color-dark);
  width: 16px;
  height: 12px;
}

.visualizer--active {
  background-color: var(--color-accent);
}
