<div class="row repeater-row">
  <p class="label">Rep freq:</p>
  <combo-box id="repeat-frequency-select-box" change="setRepeatFrequency">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </combo-box>
</div>

<div class="row repeater-row">
  <p class="label">Rep N:</p>
  <combo-box id="repeat-select-box" change="setRepeatValue">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
  </combo-box>
</div>

<div class="row repeater-row">
  <p class="label">Mode</p>
  <combo-box id="repeat-modifier" change="setRepeatModifierValue">
    <option value="linear" selected>linear</option>
    <option value="rampUp">ramp-up</option>
    <option value="rampDown">ramp-down</option>
    <option value="uShaped">u-shaped</option>
    <option value="nShaped">n-shaped</option>
  </combo-box>
</div>
