.select-box {
  width: 50px;
  background-color: var(--grey-dark);
  color: var(--grey-light);
  outline: none;
}
.select-box:focus {
  outline: none;
}
.select-box option {
  background-color: var(--grey-dark);
  color: var(--grey-light);
}
