<div class="synth">

  <div class="synth-options">
    <flat-button
      click="onClear"
      ontext="Clear"
      offtext="Clear">
    </flat-button>
    <flat-button
      click="onGenerateRandom"
      ontext="Generate Random"
      offtext="Generate Random">
    </flat-button>
    <div class="base-note">
      <p class="base-note-label">Base Note:</p>
      <input
        id="base-note-input"
        class="base-note-input"
        type="number"
        value="60" />
    </div>

    <div class="row">
      <p class="base-note-label">Send to:</p>
      <combo-box id="sendComboBox" change="onSendChange"></combo-box>
    </div>  

  </div>

  <div id="visualizer" class="synth-visualizer">
    <div id="playhead" class="synth-visualizer-playhead"></div>
    <div id="noteContainer" class="synth-note-container"></div>
  </div>

</div>
