.synth {
  border: 1px solid black;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.synth-visualizer {
  position: relative;
  height: 200px;
  width: 100%;
  border: 1px solid black;
  background-size: 1 100%;
}

.synth-note-container {
  width: inherit;
  height: inherit;
}

.synth-visualizer-playhead {
  position: absolute;
  left: 20;
  top: 0;
  height: 100%;
  border-left: 3px dashed #DDFFDD;
  content: "";
  width: 0px;
  display: block;
}

.base-note {

}

button {
  border: none;
  padding: 0;
  background: none;
  color: #DDDDDD;
}

.base-note-label {
  font-size: 0.7em;
}

.base-note-input {
  height: 25px;
  font-size: 0.7em;
  margin: 0 10px;
  width: 60px;
  background-color: #333333;
  border: none;
  border-bottom: 1px solid #DDDDDD;
  outline: none;
  color: #DDDDDD;
}
.base-note-input:focus {
  outline: none;
}
