.canvas-menu {
  display: none;
  position: absolute;
  background-color: var(--color-grey-dark);
  border: var(--border-default);
  border-radius: var(--border-radius);
  top: 0;
  left: 0;
}
.canvas-menu-active {
  display: block;
}

.canvas-menu-button {
  margin: 5px;
}
