.synth-note {
  height: 7px;
  background-color: #7799DD;
  position: absolute;
}
.synth-note:hover > .label {
  display: block;
}

.right-anchor {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background-color: black;
}

.label {
  display: none;
}
