.synth-note {
  height: 15px;
  background-color: var(--color-accent);
  position: absolute;
}
.synth-note:hover > .label {
  display: block;
}

.right-anchor {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 15px;
  background-color: black;
}

.label {
  display: none;
}
