
<div class="grain-maker">
  <!--
    PARAMS FROM POLYSOUND:
      position
      spread
      loop duration
      time scatter
      number of voices
      voice spread
      pitch
      threshold
  -->

  <div class="grain-column">

    <flat-button
      click="onContinuousToggle"
      isToggle="true"
      ontext="stop"
      offtext="start">
    </flat-button>

    <div class="grain-param-row">
      <p class="param-label">Grains/Tick</p>
      <slider-horizontal
        id="grainsPerTick-slider"
        onchange="onGrainsPerTickUpdate"
        class="slider">
      </slider-horizontal>
      <p id="grainsPerTickOutput" class="param-output" />
    </div>

    <div class="grain-param-row">
      <p class="param-label">Position</p>
      <slider-horizontal
        id="position-slider"
        onchange="onPositionUpdate"
        class="slider">
      </slider-horizontal>
      <p id="positionOutput" class="param-output" />
    </div>

    <div class="grain-param-row">
      <p class="param-label">Spread</p>
      <slider-horizontal
        id="spread-slider"
        onchange="onSpreadUpdate"
        class="slider">
      </slider-horizontal>
      <p id="spreadOutput" class="param-output" />
    </div>

    <div class="grain-param-row ">
      <p class="param-label">Loop Duration</p>
      <slider-horizontal
        id="loopDuration-slider"
        onchange="onLoopDurationUpdate"
        class="slider">
      </slider-horizontal>
      <p id="loopDurationOutput" class="param-output" />
    </div>

    <div class="grain-param-row ">
      <p class="param-label">Time Scatter</p>
      <slider-horizontal
        id="timeScatter-slider"
        onchange="onTimeScatterUpdate"
        class="slider">
      </slider-horizontal>
      <p id="timeScatterOutput" class="param-output" />
    </div>

    <div class="grain-param-row ">
      <p class="param-label">Number of Voices</p>
      <slider-horizontal
        id="numVoices-slider"
        onchange="onNumVoicesUpdate"
        class="slider">
      </slider-horizontal>
      <p id="numVoicesOutput" class="param-output" />
    </div>

  </div>

  <!--   SAMPLER   -->
  <div class="grain-column">
    <simple-sampler id="sampler"></simple-sampler>
  </div>

  <flat-button
    click="onRemove"
    offtext="remove">
  </flat-button>

</div>
