
<div class="grain-maker">
  <p>Grains</p>

  <!--
    PARAMS FROM POLYSOUND:
      position
      spread
      loop duration
      time scatter
      number of voices
      voice spread
      pitch
      threshold
  -->

  <div class="grain-param-row">
    <p>Position</p>
    <slider-horizontal
      id="position-slider"
      onchange="onPositionUpdate"
      class="slider">
    </slider-horizontal>
    <p id="positionOutput"></p>
  </div>

  <div class="grain-param-row">
    <p>Spread</p>
    <slider-horizontal
      id="spread-slider"
      onchange="onSpreadUpdate"
      class="slider">
    </slider-horizontal>
    <p id="spreadOutput"></p>
  </div>

  <div class="grain-param-row">
    <p>Loop Duration</p>
    <slider-horizontal
      id="loopDuration-slider"
      onchange="onLoopDurationUpdate"
      class="slider">
    </slider-horizontal>
    <p id="loopDurationOutput"></p>
  </div>

  <div class="grain-param-row">
    <p>Time Scatter</p>
    <slider-horizontal
      id="timeScatter-slider"
      onchange="onTimeScatterUpdate"
      class="slider">
    </slider-horizontal>
    <p id="timeScatterOutput"></p>
  </div>

  <div class="grain-param-row">
    <p>Number of Voices</p>
    <slider-horizontal
      id="numVoices-slider"
      onchange="onNumVoicesUpdate"
      class="slider">
    </slider-horizontal>
    <p id="numVoicesOutput"></p>
  </div>


</div>
