
.grain-maker {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
}

.grain-column {
  border: 1px solid white;
}

.grain-param-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid white;
}

.param-label {
  min-width: 90px;
  max-width: 90px;
  margin: 0;
}

.slider {
  margin: 5px;
  width: 100px;
  height: 20px;
}

.param-output {
  margin: 0;
}
