<div class="device-row">
  <div class="label-section">
    <br />
    <p id="label"></p>
  </div>
  <div class="output">
    <p>output</p>
    <p id="output">&#10005;</p>
  </div>
  <div class="input">
    <p>input</p>
    <p id="input">&#10005;</p>
  </div>
</div>
<toggle-button
  id="toggleButton"
  class="toggle-button"
  click="onToggleClick"
  onlabel="Print Messages"
  offlabel="Print Messages"
  ison="false">
</toggle-button>

<div id="messageContainer" class="message-container">
  <div class="property-row">
    <p class="property-label">Command</p>
    <span class="dots"></span>
    <p id="command" class="property-value"></p>
  </div>

  <div class="property-row">
    <p class="property-label">Channel</p>
    <span class="dots"></span>
    <p id="channel" class="property-value"></p>
  </div>

  <div class="property-row">
    <p class="property-label">Note</p>
    <span class="dots"></span>
    <p id="note" class="property-value"></p>
  </div>

  <div class="property-row">
    <p class="property-label">Value</p>
    <span class="dots"></span>
    <p id="value" class="property-value"></p>
  </div>
</div>
