.container {
  position: relative;
}

.options-container {
  display: none;
  border: 1px solid white;
  border-radius: 4px;
  background-color: grey;
  position: absolute;
}

.options-container--active {
  display: block;
}

.option {
  cursor: pointer;
  padding: 10px;
}
