.select-box {
  background-color: var(--color-black-light);
  color: var(--color-grey-light);
  outline: none;
}
.select-box:focus {
  outline: none;
}
.select-box option {
  background-color: var(--color-grey-light);
  color: var(--color-black-light);
}
