
<div class="row">
  <p class="param-label">Delay</p>
  <slider-horizontal
    id="delaySlider"
    onchange="onDelayUpdate"
    class="slider">
  </slider-horizontal>
  <p id="delayOutput" class="param-output"></p>
</div>

<div class="row">
  <p class="param-label">Fdbck</p>
  <slider-horizontal
    id="feedbackSlider"
    onchange="onFeedbackUpdate"
    class="slider">
  </slider-horizontal>
  <p id="feedbackOutput" class="param-output"></p>
</div>

<div class="row">
  <p class="param-label">Wet</p>
  <slider-horizontal
    id="wetSlider"
    onchange="onWetUpdate"
    class="slider">
  </slider-horizontal>
  <p id="wetOutput" class="param-output"></p>
</div>
