
.container {
  --connector-size: 16px;
  --connector-buffer: -18px;
  border: var(--border-default);
  border-radius: var(--border-radius);
  position: absolute;
  display: block;
}

.topbar {
  background-color: var(--color-grey-light);
  width: 100%;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-grey-dark);
  cursor: default;
}

.topbar-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0 4px;
}

.topbar-button-remove {
  background-color: #9A6161;
}

.topbar-button-minimize {
  background-color: #619A61;
}

.body {
  min-width: 80px;
  background-color: var(--color-black-light);
  transform-origin: top;
  transition: transform 0.1s ease, height 0.1s ease;
}
.body-minimized {
  transform: scaleY(0);
  height: 0;
}

.connector {
  border: var(--border-default);
  width: var(--connector-size);
  height: var(--connector-size);
  position: absolute;
}

.connector-signal {
  border-radius: 50%;
}

.connector-inlet {
  top: var(--connector-buffer);
  right: 0;
}

.connector-outlet {
  bottom: var(--connector-buffer);
  right: 0;
}
