button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  color: #DDDDDD;
  cursor: pointer;
  margin: 2px;
  outline: none;
  padding: 4px;
  text-align: center;
  user-select: none;
  width: 100%;
}

.button--active {
  background-color: #DDDDDD;
  color: #333333;
}
