button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: var(--border-default);
  border-radius: var(--border-radius);
  color: #DDDDDD;
  cursor: pointer;
  outline: none;
  padding: 4px;
  text-align: center;
  user-select: none;
  width: 100%;
}

.button--active {
  background-color: #DDDDDD;
  color: #333333;
}
