
<div class="synth">

  <div class="synth-row">
    <p>Attack</p>
    <slider-horizontal
      id="attack-slider"
      onchange="onAttackUpdate"
      class="slider">
    </slider-horizontal>
    <p id="attackOutput" class="output"></p>
  </div>

  <div class="synth-row">
    <p>Release</p>
    <slider-horizontal
      id="release-slider"
      onchange="onReleaseUpdate"
      class="slider">
    </slider-horizontal>
    <p id="releaseOutput" class="output"></p>
  </div>

  <div class="synth-row">
    <flat-button
      click="addVoice"
      ontext="Add Voice"
      offtext="Add Voice">
    </flat-button>
  </div>

  <div id="voiceContainer"></div>

</div>
