
<div class="synth">

  <div class="synth-row">
    <p>Attack</p>
    <slider-horizontal
      onchange="onAttackUpdate"
      class="slider">
    </slider-horizontal>
    <p id="attackOutput" class="output"></p>
  </div>

  <div class="synth-row">
    <p>Release</p>
    <slider-horizontal
      onchange="onReleaseUpdate"
      class="slider">
    </slider-horizontal>
    <p id="releaseOutput" class="output"></p>
  </div>

  <div class="synth-row">
    <p id="addVoice">Add Voice</p>
  </div>

  <div id="voiceContainer"></div>

</div>
