
<div id="container" class="scrim">
  <div class="property-menu-contents">
    <div class="menu-row">
      <span class="base-note-label">Trigger:</span>
      <combo-box id="sendComboBox" change="handleSendAddressChange"></combo-box>
      <input
        id="valueInput"
        class="numeric-input"
        type="number"
        value="60"
        min="0"
        max="127"
        step="1"
      />
    </div>
    <div class="menu-row">
      <label for="thresholdInput">Thresh:</label>
      <input
        id="thresholdInput"
        class="numeric-input"
        type="number"
        value="4"
        min="1"
        step="1"
      />
    </div>
    <div class="menu-row">
      <text-button
        click="deleteNode"
        label="Delete"
      </text-button>
    </div>
  </div>
</div>
