:host {
  display: block;
  position: relative;
  height: 100%;
  padding: 0 4px;
}

.cycle-input {
  display: block;
  position: relative;
  font-size: 24px;
  color: var(--border-default);
  width: 100%;
  height: 100%;
  font-family: Hack, monospace;
  overflow-y: scroll;
}
.cycle-input:focus {
  outline: none;
}

.meta-container {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  opacity: 0.8;
}

.toggle-button {
  background: unset;
  margin: unset;
  padding: 8px;
  font: unset;
  border: unset;
  color: white;
  cursor: pointer;
  min-width: 100px;
  border: 1px solid white;
}

.pending-changes {
  padding: 8px;
  background-color: var(--color-accent);
  color: var(--color-black);
  display: none;
}
.pending-changes--active {
  display: block;
}

.error-display {
  padding: 8px;
  background-color: var(--color-error);
  color: var(--color-black);
  opacity: 0.75;
  display: none;
  cursor: default;
}

.error-display--visible {
  display: block;
}
