<div class="top-bar">
  <div>
    <div id="cycleIndicator" class="cycle-indicator"></div>
    <label for="cycleLength">Cycle Length:</label>
    <input
      id="cycleLength"
      class="numeric-input"
      type="number"
      min="1"
      step="1"
    />
  </div>
  <div id="cycleState" class="cycle-state"></div>
  <toggle-button
    id="toggleButton"
    class="toggle-button"
    click="onToggleClick"
    onlabel="Stop"
    offlabel="Start"
    ison="true">
  </toggle-button>
  <div>
    <label for="fontSizeInput">FontSize:</label>
    <text-input id="fontSizeInput" type="number" value="24" change="handleFontSizeChange">
    </text-input>
  </div>
  <text-button
    class="remove-button"
    click="onRemove"
    label="X">
  </text-button>
</div>
<div
  id="cycleInput"
  class="cycle-input"
  contenteditable />
</div>
