<div class="event-cycle">
  <div class="top-bar">
    <div>
      <div id="cycleIndicator" class="cycle-indicator"></div>
      <label for="cycleLength">Cycle Length:</label>
      <input
        id="cycleLength"
        class="numeric-input"
        type="number"
        min="1"
        step="1"
      />
      <address-mapper id="addressMapper"></address-mapper>
    </div>
    <flat-button
      class="remove-button"
      click="onRemove"
      offtext="X">
    </flat-button>
  </div>
  <input type="text" id="cycleInput" class="cycle-input"/>
</div>
