:host {
  border: var(--border-default);
  border-radius: var(--border-radius);
  position: relative;
  display: block;
  width: 100%;
}

.top-bar {
  border-bottom: var(--border-default);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cycle-indicator {
  display: inline-block;
  height: 10px;;
  width: 10px;
  background-color: none;
}
.cycle-inicator--active {
  background-color: var(--color-grey-light);
}

.numeric-input {
  height: 25px;
  font-size: 1em;
  margin: 0 2px;
  width: 28px;
  background-color: var(--color-black-light);
  border: none;
  border-bottom: var(--border-default);
  outline: none;
  color: var(--border-default);
}
.numeric-input:focus {
  outline: none;
}

.cycle-container {
  border: var(--border-default);
  border-radius: var(--border-radius);
  height: 50px;
}

.cycle-element {
  border: 4px solid red;
  border-radius: var(--border-radius);
  height: 100%;
  width: 20px;
}
.cycle-element--active {
  border-color: green;
}

.cycle-input {
  display: block;
  font-size: 2.3em;
  margin: 10px;
  background-color: var(--color-black-light);
  border: var(--border-default);
  border-radius: var(--border-radius);
  outline: none;
  color: var(--border-default);
  width: 100%;
  width: -webkit-fill-available;
}

.cycle-state {
  display: inline-block;
  height: 10px;;
  width: 10px;
  background-color: none;
  border: var(--border-default);
}
/*
.cycle-input:focus {
  outline: none;
} */
/* .cycle-state--invalid {
  background-color: red;
} */
/* .cycle-state--queued {
  background-color: yellow;
} */
/* .cycle-state--queued {
  background-color: green;
} */
