<div class="row space-between row-margin">
  <flat-button
    click="populateSelector"
    ontext="&#8635;"
    offtext="&#8635;">
  </flat-button>
</div>
<div class="row row-margin">
  <p class="label">Device</p>
  <combo-box id="deviceSelector" change="onDeviceChange"></combo-box>
</div>
<div class="row">
  <p class="label">Channel</p>
  <combo-box id="channelSelector" change="onChannelChange"></combo-box>
</div>
<div class="row note-toggle-row">
  <flat-button
    id="noteCcToggle"
    click="onNoteCcToggle"
    isToggle="true"
    ontext="CC"
    offtext="NOTE">
  </flat-button>
  <div id="noteInputContainer" class="row note-row row-hidden">
    <p class="label">Note</p>
    <input
      id="noteInput"
      class="note-input"
      type="number"
      value="60" />
  </div>
</div>
