:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  --topbar-height: 41px;
}

.top-row {
  justify-content: space-between;
  align-items: baseline;
  padding: 8px 4px;
  border-bottom: 2px solid var(--color-grey-darker);
  height: auto;
}

.editor-window {
  flex: 1;
}

.ctrl-button {
  min-width: 70px;
  margin-right: 8px;
}

.editor {
  position: absolute;
  top: var(--topbar-height);
  left: 0;
  background-color: var(--color-black-light);
  border: var(--border-default);
  width: 400px;
  height: calc(100% - var(--topbar-height));
  transform: translateX(-100%);
  transition: transform 0.15s ease-out;
}
.editor-visible {
  transform: translateX(0);
}

.sound-visualizer {
  position: absolute;
  bottom: 0;
  right: 0;
  /* padding: 8px; */
  background-color: var(--color-black-light);
}
