<div class="row top-row">
  <metronome-ctrl></metronome-ctrl>
</div>

<div class="button-container">
  <flat-button
    id="add-event-network"
    class="add-element-button"
    click="onAddEventNetwork"
    offtext="Add Event Network">
  </flat-button>
</div>
<div
  id="eventNetworkContainer"
  class="container">
</div>

<div class="button-container">
  <flat-button
    id="add-cycle"
    class="add-cycle"
    click="onAddCycle"
    offtext="Add Cycle">
  </flat-button>
</div>
<div
  id="eventCycleContainer"
  class="container">
</div>

<div class="button-container">
  <flat-button
    id="add-patch-space"
    class="add-element-button"
    click="onAddPatchSpace"
    offtext="Add Patch Space">
  </flat-button>
</div>
<div
  id="patchContainer"
  class="container">
</div>
