.top-row {
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border-bottom: var(--border-default);
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container {
  border: var(--border-default);
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
