<div class="row top-row">
  <div class="row">
    <toggle-button
      id="midiButton"
      class="ctrl-button"
      click="handleMidiClick"
      onlabel="MIDI"
      offlabel="MIDI">
    </toggle-button>
    <toggle-button
      id="sampleButton"
      class="ctrl-button"
      click="handleSampleClick"
      onlabel="Samples"
      offlabel="Samples">
    </toggle-button>
    <toggle-button
      id="settingsButton"
      class="ctrl-button"
      click="handleSettingsClick"
      onlabel="Settings"
      offlabel="Settings">
    </toggle-button>
  </div>
  <metronome-ctrl></metronome-ctrl>
</div>

<div
  id="eventCycleContainer"
  class="event-cycle-container">
</div>

<div class="bottom-buttons">
  <sound-visualizer class="sound-visualizer"></sound-visualizer>
  <text-button
    id="add-cycle"
    class="add-cycle"
    click="onAddCycle"
    label="Add Cycle">
  </text-button>
</div>
<!-- <graphics-editor></graphics-editor> -->
