<div class="row top-row">
  <scale-selector></scale-selector>
  <graphics-controller></graphics-controller>
  <metronome-ctrl></metronome-ctrl>
</div>
<!-- <poly-rythm channel="hello"></poly-rythm> -->
<!-- <markov-box></markov-box> -->
<!-- <poly-box></poly-box> -->

<!-- <flat-button
  id="add-trigger-button"
  class="add-element-button"
  click="onAddTrigger"
  offtext="Add Trigger">
</flat-button>
<div
  id="trigger-box-container"
  class="container">
</div> -->

<div class="button-container">
  <flat-button
    id="add-event-network"
    class="add-element-button"
    click="onAddEventNetwork"
    offtext="Add Event Network">
  </flat-button>
</div>
<div
  id="event-network-container"
  class="container">
</div>

<div class="button-container">
  <flat-button
    id="add-cycle"
    class="add-cycle"
    click="onAddCycle"
    offtext="Add Cycle">
  </flat-button>
</div>
<div
  id="event-cycle-container"
  class="container">
</div>

<!-- <flat-button
  id="add-sequencer-button"
  class="add-element-button"
  click="onAddSequencer"
  offtext="Add Sequencer">
</flat-button>
<div
  id="sequencer-container"
  class="container sequencer-container">
</div>

<flat-button
  id="add-synth-button"
  class="add-element-button"
  click="onAddSynth"
  offtext="Add Synth">
</flat-button>
<div
  id="synth-container"
  class="container">
</div>

<flat-button
  id="add-grain-button"
  class="add-element-button"
  click="onAddGrain"
  offtext="Add Grainular Sampler">
</flat-button>
<div
  id="grain-container"
  class="container">
</div>

<flat-button
  id="add-sampler-button"
  class="add-element-button"
  click="onAddSampler"
  offtext="Add Sampler">
</flat-button>
<div
  id="sampler-container"
  class="container">
</div> -->

<div class="button-container">
  <flat-button
    id="add-patch-space"
    class="add-element-button"
    click="onAddPatchSpace"
    offtext="Add Patch Space">
  </flat-button>
</div>
<div
  id="patch-container"
  class="container">
</div>
