.top-row {
  align-items: center;
  padding: 10px;
  border-bottom: var(--border-default);
  margin-bottom: 10px;
}

.container {
  border: 1px solid grey;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0px 0px 20px white;
}
