:host {
  display: block;
}

.top-row {
  justify-content: space-between;
  align-items: baseline;
  padding: 12px;
  border-bottom: var(--border-default);
  margin-bottom: 10px;
  height: auto;
}

.event-cycle-container {
  display: block;
  overflow-y: scroll;
  height: auto;
}

.ctrl-button {
  min-width: 70px;
  margin-right: 8px;
}

.editor {
  position: absolute;
  top: 49px;
  left: 0;
  background-color: var(--color-black-light);
  border: var(--border-default);
  width: 400px;
  height: calc(100% - 52px);
  transform: translateX(-100%);
  transition: transform 0.15s ease-out;
}
.editor-visible {
  transform: translateX(0);
}

.bottom-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

.sound-visualizer {
  margin-right: 8px;
  background-color: var(--color-black-light);
}

.add-cycle {}
