
<div class="message-filter">
  <p class="label">Pass:</p>
  <select id="filter-select-box">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="6">6</option>
    <option value="8">8</option>
  </select>

  <p class="label">Rep freq:</p>
  <select id="repeat-frequency-select-box">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>

  <p class="label">Rep N:</p>
  <select id="repeat-select-box">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">4</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
  </select>
</div>
