.poly-rythm {}

.poly-rythm__column {
  border: 1px solid #333333;
}
.poly-rythm__column :nth-child(2n + 1) {
  background-color: #999999;
}
.poly-rythm__column :nth-child(4n + 1) {
  background-color: #AAAAAA;
  height: 24px;
}

.poly-rythm__cell {
  background-color: #666666;
  border-bottom: 1px solid #666666;
  height: 16px;
}

.poly-rythm__column .poly-rythm__cell--active {
  background-color: #7799DD;
}
