:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.metronome-button {
  margin: 0 20px;
}

.metronome-label {
  margin: 0;
}

.metronome-input {
  height: 25px;
  font-size: 1em;
  margin: 0 10px;
  width: 60px;
  background-color: var(--color-black-light);
  border: none;
  border-bottom: 1px solid var(--color-grey-light);
  outline: none;
  color: var(--color-grey-light);
}
.metronome-input:focus {
  outline: none;
}
