<div class="synth-row">

  <p>Type</p>
  <combo-box id="oscTypeComboBox" change="onOscTypeChange">
    <option value="SINE">sin</option>
    <option value="SQUARE">squ</option>
    <option value="SAWTOOTH">saw</option>
    <option value="TRIANGLE">tri</option>
  </combo-box>

  <p>Gain</p>
  <slider-horizontal
    id="gainSlider"
    onchange="onGainUpdate"
    class="slider">
  </slider-horizontal>
  <p id="gainOutput" class="output"></p>

  <adsr-envelope id="adsrEnvelope">
  </adsr-envelope>
</div>
