<div class="adsr">

  <div class="row">
    <p class="param-label">A</p>
    <slider-horizontal
      id="attackSlider"
      onchange="onAttackUpdate"
      class="slider">
    </slider-horizontal>
    <p id="attackOutput" class="param-output"></p>
  </div>

  <div class="row">
    <p class="param-label">S</p>
    <slider-horizontal
      id="sustainSlider"
      onchange="onSustainUpdate"
      class="slider">
    </slider-horizontal>
    <p id="sustainOutput" class="param-output"></p>
  </div>

  <div class="row">
    <p class="param-label">R</p>
    <slider-horizontal
      id="releaseSlider"
      onchange="onReleaseUpdate"
      class="slider">
    </slider-horizontal>
    <p id="releaseOutput" class="param-output"></p>
  </div>

</div>
